@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.main-section {
    min-height: 80vh;
}

#btn-group {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#modal-btn {
      position: absolute;
    bottom: 2%;
    right: 15%;
}
.completed {
  border-color: cornflowerblue;
    border-style: dashed;
}
.habit-card {
      margin-top: 10px;
    margin-bottom: 10px;
}
.habit-frequency {
    color: #0d7b81;
    margin-left: 13%;
    padding-bottom: 18px;
    font-family: system-ui;
}